.App {
  text-align: center;
}

nav{
  height: 6vh;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.App-logo{
  padding: 1.5rem;
  max-width: 50%;
}

.description-box{
  height: 150px;
}

footer{
  height: 6vh;
  border: solid 1px #000000;
}
